<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>area</key>
				<array>
					<string>武昌区</string>
					<string>汉口区</string>
					<string>汉阳区</string>
				</array>
				<key>city</key>
				<string>武汉市</string>
			</dict>
			<dict>
				<key>area</key>
				<array>
					<string>樊城区</string>
					<string>襄城区</string>
				</array>
				<key>city</key>
				<string>襄阳市</string>
			</dict>
		</array>
		<key>province</key>
		<string>湖北省</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>area</key>
				<array>
					<string>朝阳区</string>
					<string>海淀区</string>
					<string>丰台区</string>
				</array>
				<key>city</key>
				<string>北京市</string>
			</dict>
		</array>
		<key>province</key>
		<string>北京市</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>area</key>
				<array>
					<string>越秀区</string>
					<string>海珠区</string>
					<string>天河区</string>
					<string>白云区</string>
					<string>黄埔区</string>
					<string>南沙区</string>
					<string>荔湾区</string>
				</array>
				<key>city</key>
				<string>广州市</string>
			</dict>
			<dict>
				<key>area</key>
				<array>
					<string>福田区</string>
					<string>龙岗区</string>
					<string>罗湖区</string>
					<string>宝安区</string>
					<string>盐田区</string>
					<string>龙华区</string>
				</array>
				<key>city</key>
				<string>深圳市</string>
			</dict>
			<dict>
				<key>area</key>
				<array>
					<string>香洲区</string>
					<string>金湾区</string>
					<string>斗门区</string>
				</array>
				<key>city</key>
				<string>珠海市</string>
			</dict>
		</array>
		<key>province</key>
		<string>广东省</string>
	</dict>
</array>
</plist>
